<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.team3.user.mapper.UserMapper">
  
 	 <select id="idCheck" resultType="int">
  		select count(*) from USERS where userId = #{userId}
  	</select>
  
  	<select id="getInfo" resultType="UserVO">
  		select * from USERS where userId = #{userId}
  	</select>
  
  	<insert id="join">
  		insert into USERS values(#{userId}, #{userPw}, #{userNickName},#{userPhoneNum},#{userAddrZipNum}, #{userAddrBasic}, #{userAddrDetailL}, #{userBookMark01}, #{userBookMark02}, #{userBookMark03}, #{userManage})
	</insert>
  
  	<select id="login" resultType="int">
  		select count(*) from USERS where userId = #{userId} and userPw = #{userPw}
  	</select>
  
  	<select id="getTotal" resultType="int">
  		select count(*) from BBS where BBSWRITE = #{userId}
  	</select>
  	
  	<select id="getMyBbsList" resultType="BoardVO">
  		<![CDATA[
  		select *
		from(
		    select rownum as rn, 
		           b.*
		    from(
		        select *
		        from bbs
		        where bbswrite = #{userId}
		        order by bbsno desc) b
		) where rn > (#{cri.pageNum}-1)*#{cri.amount} and rn <= #{cri.pageNum}*#{cri.amount}
		]]>
  	</select>
  
  </mapper>